a {
    text-decoration: none;
}
.menu{
    display: inline;
    margin-right: 50px; 
}
li {
    display: inline;
    margin-right: 50px;
}
.room >img {
    width: 100px;
    height: 100px;
}
.exp {
    border: 2px #eee solid;
    border-radius: 30%;
    width: 100px
}
.exp i {
    color: black;
}
.exp b {
    color: chartreuse;
}


.header ,.accomadation {
    display: flex;
}
.header .menuNav{
    align-items: flex-end;
}
.menuNav{
    position: absolute;
    right: 0;
}
.btnSearch{
    color: #fff;
    background-color: blue;
}
.rooms{
    width : 800px;
    background-color: #eee;
}
.room-list{
    display: flex;
    flex-wrap: wrap ;
}
.room{
    background-color: #fff;
    width:250px;
    height: auto;
    margin: 20px;
}
.test{
   background-color: red; 
}
